.peopleLeftRow1 {
  position: absolute;
  top: 6px;
  left: 8px;
}
.peopleLeftRow1 a {
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.peopleLeftRow1 a:hover {
    color: green;
}

.actionsMiddleRow1 {
  position: absolute;
  top: 6px;
  left: 442px;
}
.actionsMiddleRow1 a {
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.actionsMiddleRow1 a:hover {
    color: green;
}
.actionsMiddleRow2 {
  position: absolute;
  top: 26px;
  left: 442px;
}
.actionsMiddleRow2 a {
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.actionsMiddleRow2 a:hover {
    color: green;
}

.actionCheckboxesRightRow1 {
  position: absolute;
  top: 6px;
  left: 888px;
}
.actionCheckboxesRightRow1 input {
    margin-left: 0px;
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.actionCheckboxesRightRow1 input:hover {
    color: green;
}

.actionCheckboxesRightRow2 {
    position: absolute;
    top: 26px;
    left: 888px;
}
.actionCheckboxesRightRow2 input {
    margin-left: 0px;
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.actionCheckboxesRightRow2 input:hover {
    color: green;
}

.profileContainer {
  position: absolute;
  top: 50px;
  left: 4px;
  width: 430px;
  height: 438px;
  background-color: blue;
  border: 4px solid green;
}
.conversionContainer {
  position: absolute;
  top: 50px;
  left: 446px;
  width: 430px;
  height: 438px;
  background-color: yellow;
  border: 4px solid black;
}
.animationContainer {
  position: absolute;
  top: 50px;
  left: 888px;
  width: 430px;
  height: 438px;
  background-color: brown;
  border: 4px solid violet;
}
