.peopleLeftRow1 {
  position: absolute;
  top: 2px;
  left: 8px;
}
.peopleLeftRow1 a {
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.peopleLeftRow1 a:hover {
    color: green;
}
.peopleLeftRow2 {
  position: absolute;
  top: 22px;
  left: 8px;
}
.peopleLeftRow2 a {
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.peopleLeftRow2 a:hover {
    color: green;
}

.actionsMiddleRow1 {
  position: absolute;
  top: 2px;
  left: 396px;
}
.actionsMiddleRow1 a {
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.actionsMiddleRow1 a:hover {
    color: green;
}
.actionsMiddleRow2 {
  position: absolute;
  top: 22px;
  left: 390px;
}
.actionsMiddleRow2 a {
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.actionsMiddleRow2 a:hover {
    color: green;
}

.actionCheckboxesRightRow1 {
  position: absolute;
  top: 2px;
  left: 740px;
}
.actionCheckboxesRightRow1 input {
    margin-left: 0px;
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.actionCheckboxesRightRow1 input:hover {
    color: green;
}

.actionCheckboxesRightRow2 {
    position: absolute;
    top: 22px;
    left: 740px;
}
.actionCheckboxesRightRow2 input {
    margin-left: 0px;
    padding: 0 6px;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}
.actionCheckboxesRightRow2 input:hover {
    color: green;
}

.leftPanel {
  position: absolute;
  top: 48px;
  left: 10px;
  width: 610px;
  height: 610px;
  background-color: beige;
  border: 4px solid green;
}
.centerPanel {
  position: absolute;
  top: 48px;
  left: 632px;
  width: 610px;
  height: 610px;
  background-color: #E7F1F7; /* Climate Corp "halftone background blue" */
  border: 4px solid black;
}
